# EDUNET FOUNDATION-Class Exercise Notebook

## LAB 2 - CRUD Operation of MongoDB Using Python

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

### Creating new database and collection in MongoDB

In [3]:
infosys_db=myclient["infosys_db"]

In [4]:
emp_coll=infosys_db['emp_coll']

### However, the database and the collection are not created until you add some content to them. lets fill them with data.

In [5]:
document = {
    "Name":"Aman",
    "Age":25,
    "State":"Gujarat",
    "Profile":"Developer",
    "Salary":55000,
    "Experience":3,
    "Skills":["PHP","MySQL"]   
   }

In [6]:
emp_coll.insert_one(document)

### Inserting Multiple Documents Using insert_many() methods

In [7]:
emp_data= [
    {
    "Name":"Priya",
    "Age":23,
    "State":"Delhi",
    "Profile":"Tester",
    "Salary":35000,
    "Experience":2,
    "Skills":["PHP","MySQL",'Agile','Selenium']   
   },
    {
    "Name":"Karan",
    "Age":24,
    "State":"Punjab",
    "Profile":"Developer",
    "Salary":57000,
    "Experience":3,
    "Skills":["Python","MySQL","MongoDB"]   
   },
    {
    "Name":"Prince",
    "Age":27,
    "State":"Gujarat",
    "Profile":"Developer",
    "Salary":75000,
    "Experience":5,
    "Skills":["Python","MySQL","MongoDB","ML"]   
   }
]

In [8]:
emp=emp_coll.insert_many(emp_data)

### List all collections inside infosys_db database

In [9]:
infosys_db.list_collection_names()

['emp_coll']

In [10]:
#Accessing Collection 
emp_coll=infosys_db['emp_coll']

### Reading Documents

In [11]:
results=emp_coll.find()

In [12]:
results

In [13]:
for data in results:
    print(data)

{'_id': ObjectId('64e59fa6104ecd2f611069f5'), 'Name': 'Aman', 'Age': 25, 'State': 'Gujarat', 'Profile': 'Developer', 'Salary': 55000, 'Experience': 3, 'Skills': ['PHP', 'MySQL']}
{'_id': ObjectId('64e59fa6104ecd2f611069f6'), 'Name': 'Priya', 'Age': 23, 'State': 'Delhi', 'Profile': 'Tester', 'Salary': 35000, 'Experience': 2, 'Skills': ['PHP', 'MySQL', 'Agile', 'Selenium']}
{'_id': ObjectId('64e59fa6104ecd2f611069f7'), 'Name': 'Karan', 'Age': 24, 'State': 'Punjab', 'Profile': 'Developer', 'Salary': 57000, 'Experience': 3, 'Skills': ['Python', 'MySQL', 'MongoDB']}
{'_id': ObjectId('64e59fa6104ecd2f611069f8'), 'Name': 'Prince', 'Age': 27, 'State': 'Gujarat', 'Profile': 'Developer', 'Salary': 75000, 'Experience': 5, 'Skills': ['Python', 'MySQL', 'MongoDB', 'ML']}

### Reading Specific One document

In [14]:
emp_coll.find_one()

{'_id': ObjectId('64e59fa6104ecd2f611069f5'),
 'Name': 'Aman',
 'Age': 25,
 'State': 'Gujarat',
 'Profile': 'Developer',
 'Salary': 55000,
 'Experience': 3,
 'Skills': ['PHP', 'MySQL']}

### Querying Specific Document

In [15]:
emp_coll.find_one({"Name":"Karan"})

{'_id': ObjectId('64e59fa6104ecd2f611069f7'),
 'Name': 'Karan',
 'Age': 24,
 'State': 'Punjab',
 'Profile': 'Developer',
 'Salary': 57000,
 'Experience': 3,
 'Skills': ['Python', 'MySQL', 'MongoDB']}

In [16]:
results2=emp_coll.find({"State":"Gujarat"})

In [17]:
results2

In [18]:
for data in results2:
    print(data)

{'_id': ObjectId('64e59fa6104ecd2f611069f5'), 'Name': 'Aman', 'Age': 25, 'State': 'Gujarat', 'Profile': 'Developer', 'Salary': 55000, 'Experience': 3, 'Skills': ['PHP', 'MySQL']}
{'_id': ObjectId('64e59fa6104ecd2f611069f8'), 'Name': 'Prince', 'Age': 27, 'State': 'Gujarat', 'Profile': 'Developer', 'Salary': 75000, 'Experience': 5, 'Skills': ['Python', 'MySQL', 'MongoDB', 'ML']}

### Updating Document

In [19]:
emp_coll.update_many({"Profile":"Developer"},{"$set":{"Profile":"Web Application Developer"}})

In [20]:
update_results=emp_coll.find()

In [21]:
for data in update_results:
    print(data)

{'_id': ObjectId('64e59fa6104ecd2f611069f5'), 'Name': 'Aman', 'Age': 25, 'State': 'Gujarat', 'Profile': 'Web Application Developer', 'Salary': 55000, 'Experience': 3, 'Skills': ['PHP', 'MySQL']}
{'_id': ObjectId('64e59fa6104ecd2f611069f6'), 'Name': 'Priya', 'Age': 23, 'State': 'Delhi', 'Profile': 'Tester', 'Salary': 35000, 'Experience': 2, 'Skills': ['PHP', 'MySQL', 'Agile', 'Selenium']}
{'_id': ObjectId('64e59fa6104ecd2f611069f7'), 'Name': 'Karan', 'Age': 24, 'State': 'Punjab', 'Profile': 'Web Application Developer', 'Salary': 57000, 'Experience': 3, 'Skills': ['Python', 'MySQL', 'MongoDB']}
{'_id': ObjectId('64e59fa6104ecd2f611069f8'), 'Name': 'Prince', 'Age': 27, 'State': 'Gujarat', 'Profile': 'Web Application Developer', 'Salary': 75000, 'Experience': 5, 'Skills': ['Python', 'MySQL', 'MongoDB', 'ML']}

### Deleting Documents

In [22]:
emp_coll.delete_many({"Name":"Aman"})

In [23]:
final_results=emp_coll.find()

In [24]:
for data in final_results:
    print(data)

{'_id': ObjectId('64e59fa6104ecd2f611069f6'), 'Name': 'Priya', 'Age': 23, 'State': 'Delhi', 'Profile': 'Tester', 'Salary': 35000, 'Experience': 2, 'Skills': ['PHP', 'MySQL', 'Agile', 'Selenium']}
{'_id': ObjectId('64e59fa6104ecd2f611069f7'), 'Name': 'Karan', 'Age': 24, 'State': 'Punjab', 'Profile': 'Web Application Developer', 'Salary': 57000, 'Experience': 3, 'Skills': ['Python', 'MySQL', 'MongoDB']}
{'_id': ObjectId('64e59fa6104ecd2f611069f8'), 'Name': 'Prince', 'Age': 27, 'State': 'Gujarat', 'Profile': 'Web Application Developer', 'Salary': 75000, 'Experience': 5, 'Skills': ['Python', 'MySQL', 'MongoDB', 'ML']}

### Droping Collection

In [25]:
emp_coll.drop()

In [26]:
infosys_db.list_collection_names()

[]

### Deleting Database

In [27]:
myclient.drop_database("infosys_db")